.site
    a(href="#") CAFE SPACE
nav.menu
    ul
        li
            a(href="#") ホーム
            a(href="#") お知らせ
            a(href="#") 街角探訪
            a(href="#") お問い合わせ
article.kiji
    h1 
        span TRAVEL DIALY
        | 旅先で出会ったカフェテリア
    .kijiinfo
        time(datetime="2022-12-12") 12 DECEMBER 2022
        |  / San Francisco, CA
    p
        img(src="./images/cafe.jpg")
    p
        | おいしい飲み物と食べ物はもちろん、一息つける落ち着いた空間が
        | いつでも暖かく迎えいれてくれます。
        | 今日は何を食べようかな？メニューを見て悩む時間もまた楽しい一時です。
        | のんびり悩んでいるとまわりの人の迷惑になるかも...と思ってしまうときは、
        | 混雑する時間帯を避けていくことにしています。
    p
        | というのも、店員さんが忙しくしていないときであれば、  
        | こちらがちょっと不慣れな様子でも優しく対応してもらえることが多いからです。
        | メニューについてアレコレきいてみるのも、思わぬ発見があって楽しめます。
aside.kanren
    ul
        li
            a(href="#")
                img(src="./images/toast-300x200.jpg")
                | カフェで朝ごはん
        li
            a(href="#")
                img(src="./images/coffee-300x200.jpg")
                | あたたかい飲み物で仕事の効率アップ
        li
            a(href="#")
                img(src="./images/town-300x200.jpg")
                | 街角探訪
        li
            a(href="#")
                img(src="./images/sand-300x200.jpg")
                | 野菜と炭水化物